.fundo {    
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../images/Pessoas.jpg');
    background-image: no-repeat;
    background-color: rgba(0, 0, 0, 0.2); /* Define o nível de escurecimento */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.container {
background: rgba(0, 0, 0, 0.6);
padding: 40px;
border-radius: 10px;
max-width: 400px;
width: 100%;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.h1 {
font-size: 24px;
margin-bottom: 20px;
}

.button {
width: 100%;
padding: 12px;
border: none;
border-radius: 5px;
background-color: #000; 
color: #fff;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}

.button:hover {
background-color: #333; 
}

.a {
color: #ddd;
font-size: 14px;
text-decoration: none;
cursor: pointer;
}

.checkbox {
display: flex;
align-items: center;
font-size: 14px;
color: #ccc;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}