.cardTitulo {
  background-color: #26979f;
  padding: 50px;
}

.cardBotao {
  text-align: center;
  background-color: #e84d5b;
  margin: 100px;
  margin-left: 550px;
  margin-right: 550px;
  padding-bottom: 70px;
  padding-top: 70px;
  border-radius: 10px;
}

.botao {
    background-color: #eae2cf; /* Fundo branco */
    color: #3b3b3b; /* Cor do texto */
    border-radius: 5px; /* Cantos arredondados */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição */
    border: none;
}

.botao:hover {
    background-color: lightgray; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

